body {
  background-image: url("fondo1.jpg");
  background-repeat: no-repeat;
}
header {
  background: rgb(0, 0, 0) transparent;
  width: 100%;
  position: fixed;
  z-index: 10;

}

nav {
  float: left;
}
nav ul {
  list-style: none;
  overflow: hidden; 
}
nav ul li {
  float: left;
  font-family: times new roman, Helvetica, sans-serif;
  font-size: 30px;
}
nav ul li a {
  display: block; 
  padding: 20px;
  color: #fff;
  text-decoration: none;
  border:3px solid black;
  border-radius: 25px;
  margin-left: 10px;
}

img {

  margin:10px auto;
  padding:13px;
  width:120px;
  height:120px;
  background-size: 100% 100%;
  background-size: cover;
}


.presentacion {
        margin-left:900px;
        width:900px;
        position: center;
        position: relative;
        top: 300px;

}
h1 {
  color: black;
  font-family: times new roman, Helvetica, sans-serif;
  position: center;
}
.textoinicial {
  color: black;
  font-family: times new roman, Helvetica, sans-serif;
  position: center;
  margin-left: 150px;
}
.version-w {
margin-left: 575px;
}



.pie_pagina {
        clear:both;
        color:#900;
        padding:10px;
        text-align:center;
        position: center;
        position: relative;
        top: 280px;
        
        

}


#pie {
font-family: times new roman, Helvetica, sans-serif;
}
.lateral {
      float:left;
      height:480px;
      padding:20px;
      width:280px;
      position: relative;
      top: 100px;

}

.lateral2 {
      float:right;
      height:480px;
      padding:20px;
      width:280px;
      position: relative;
      top: 100px;
      margin-right: 525px;
}

.Fotolateral {
      height: 600px;
      width: 800px;
}
.galeria {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  position: center;
  position: relative;
  top: 175px;

}

.galery {
  height: 225px;
  width: 400px;
}


.galeria2 {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  position: center;
  position: relative;
  top: 150px;

}

.galery2 {
  height: 250px;
  width: 375px;
}

.indicador {
  margin-left: 1650px;
  

}

h4 {
  text-align: center;
}

.galery:hover{
    transform: scale(1.4);
    transition: .2s;
    z-index: 1000;
}

.galery2:hover{
    transform: scale(1.4);
    transition: .2s;
    z-index: 1000;
}


img {
    max-width: 100%;
    height: auto;
}
  
div {
    width: 90%;
    max-width: 1024px;
}

.Conclusiones {
  width: 200px;
}

.foto_rss {
  width: 50px;
  height: 50px;
  margin-top:;
}
